
body {
    margin:0;
    font-family: 'Libre Baskerville', serif;
}

/*header {
    background-color:##FFFFFF;
    color: #000000;
    padding-top:25px;
    padding-bottom:25px;
    border-bottom:solid 3px #000000;
}

header h1 {
    color:#000000;
    font-family: 'Libre Baskerville', serif;
    font-size:35px;
}

header ul li {
    display:inline-block;
    padding-left: 6px;
    padding-right:6px;
    font-size:20px;
}
*/

h1{
    font-size:50px;
    color:black;
}

#myBtn {
    font-size:16px;
    padding: 20px 40px;
    background:black;
    width:200px;
    color: #fff;
    text-decoration:none;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


.container {
    /* background-color: orange; */
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
}

/*i {
    font-family:FontAwesome;
    font-style:normal;
}

* {
  box-sizing: border-box;
}
*/
body {
  margin: 0;
  font-size: 17px;
}


#myVideo {
    top:143px;
   max-width:100%;
}

.main-content{
    position:relative;
}

.content {
  position: absolute;
  top:35%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align:center;
}





