
body {
    margin:0;
    font-family: 'Libre Baskerville', serif;
}

header {
    background-color:##FFFFFF;
    color: #000000;
    padding-top:25px;
    padding-bottom:25px;
    border-bottom:solid 3px #000000;
}

header h1 {
    color:#000000;
    font-family: 'Libre Baskerville', serif;
    font-size:35px;
}


header ul li {
    display:inline-block;
    padding-left: 6px;
    padding-right:6px;
    font-size:20px;
}


.hero-slider {
  position: relative;
}

.hero-slider a {
  position: absolute;
  bottom: 48px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translateX(-50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.hero-slider a:hover {
  opacity: .5;
}

.hero-slider a {
  padding-top: 60px;
}

.hero-slider a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


.hero-carousel img{
    width:140%;
    height:140%;
}

.fa-chevron-left, .fa-chevron-right {
    font-size:50px;
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:50px;
    z-index:999;
    color:white;
}

.fa-chevron-right {
    left:auto;
    right:50px;
}

.slick-dots{
    padding:0;
    text-align:center;
    position:absolute;
    bottom:0;
    width:100%;
}

.slick-dots li{
    display:inline-block;
    height:20px;
    width:20px;
    background-color: rgba(0,0,0,0,5);
    border-radius:50%;
    margin:0 10px;
    border: solid 1px #fff;
}

.slick-dots li.slick-active{
    background-color:rgba(0,0,0,1);
}

.slick-dots li button{
    display:none;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-left:15px;
    padding-right:15px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 99999;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}


.journal-section {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#E6E8EA;
    font-size:22px;
}

.btn {
    text-decoration:none;
    color:#000;
    font-family: 'Libre Baskerville', serif;
    background-color: #E6E8EA;
    padding:10px 25px;
    display:block;
    width:70%;
    text-align:left;
    font-size: 15px;
    border-radius:6px;
    box-shadow: 0 5px 0 #B5B5B5;
}

.btn:active {
    box-shadow: 0 1px 0 #B5B5B5;
    transform: translateY(4px);
}

.places-1 .col {
    padding:15px;
}

.places-2 .col {
    padding:15px;
}

.places-1 .places-2 p{
    font-size:10px;
}

.places-1 .col h2{
  font-size:23px;
}

.places-2 .col h2{
  font-size:23px;
}

figure {
  width: 20%;
  margin: 8vh auto 0 auto;
  max-width: 80vh;
}
figure #sea {
  fill: #9BC4EB;
}
figure #hi {
  fill: rgba(255, 255, 255, 0.2);
}
figure #light {
  fill: white;
}
figure #shad {
  fill: rgba(0, 0, 0, 0.05);
}
figure #land {
  fill: #8B9C52;
  -webkit-animation: spin 20s linear infinite forwards;
          animation: spin 20s linear infinite forwards;
}
figure .vehicles use {
  fill: #F0FBFC;
  -webkit-animation: orbit 30s linear infinite;
          animation: orbit 30s linear infinite;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
figure #boat1 {
  -webkit-transform: translateX(40px) translateY(-80px);
          transform: translateX(40px) translateY(-80px);
}
figure #boat1 use {
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}
figure #plane1 {
  -webkit-transform: translateX(-10px) translateY(170px);
          transform: translateX(-10px) translateY(170px);
}
figure #plane2 {
  -webkit-transform: translateX(170px) translateY(150px);
          transform: translateX(170px) translateY(150px);
}
figure #plane2 use {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
figure #plane3 {
  -webkit-transform: translateX(140px) translateY(-50px);
          transform: translateX(140px) translateY(-50px);
}
figure #plane3 use {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
}
figure #bike1 {
  -webkit-transform: translateX(50px) translateY(190px);
          transform: translateX(50px) translateY(190px);
}
figure #bike1 use {
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
}
@-webkit-keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-160px);
            transform: rotate(0deg) translateX(-160px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-160px);
            transform: rotate(360deg) translateX(-160px);
  }
}
@keyframes orbit {
  from {
    -webkit-transform: rotate(0deg) translateX(-160px);
            transform: rotate(0deg) translateX(-160px);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(-160px);
            transform: rotate(360deg) translateX(-160px);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes spin {
  from {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

#scroll-home {
  position:fixed;
  bottom:30px;
  right:30px;
  border-radius:5px;
  background:grey;
  border:0;
  padding:20px;
  cursor:pointer;
  color:#fff;
  font-size:20px;
}


.footer-social {
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#E6E8EA;
    font-size:20px;
}

i {
    font-family:FontAwesome;
    font-style:normal;
    size:20px;
}


